.root {
    margin-left: 5px;
    border: 1px dotted transparent;
}

.root:hover {
    cursor: pointer;
}

.root:active {
    border: 1px dotted black;
}

.appName {
    font-size: 16px;
    color: black;
    margin-top: 5px;
}