.wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 24px;
}

.name {
  text-align: center;
}

.tagWrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.tag {
  border: 2px dashed var(--bg-purple);
  padding: 4px 6px;
  margin: 4px;
}

.buttonWrapper {
  text-align: center;
}
