.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    text-align: left;
    padding: 24px;
}

.img {
    margin: 0 auto;
    border: lightblue 5px dotted;
    clip-path: polygon(0px calc(100% - 54px),
            6px calc(100% - 54px),
            6px calc(100% - 48px),
            6px calc(100% - 36px),
            12px calc(100% - 36px),
            12px calc(100% - 30px),
            18px calc(100% - 30px),
            18px calc(100% - 24px),
            24px calc(100% - 18px),
            30px calc(100% - 18px),
            30px calc(100% - 12px),
            36px calc(100% - 12px),
            36px calc(100% - 6px),
            48px calc(100% - 6px),
            54px calc(100% - 6px),
            54px 100%,
            calc(100% - 54px) 100%,
            calc(100% - 54px) calc(100% - 6px),
            calc(100% - 48px) calc(100% - 6px),
            calc(100% - 36px) calc(100% - 6px),
            calc(100% - 36px) calc(100% - 12px),
            calc(100% - 30px) calc(100% - 12px),
            calc(100% - 30px) calc(100% - 18px),
            calc(100% - 24px) calc(100% - 18px),
            calc(100% - 18px) calc(100% - 24px),
            calc(100% - 18px) calc(100% - 30px),
            calc(100% - 12px) calc(100% - 30px),
            calc(100% - 12px) calc(100% - 36px),
            calc(100% - 6px) calc(100% - 36px),
            calc(100% - 6px) calc(100% - 48px),
            calc(100% - 6px) calc(100% - 54px),
            100% calc(100% - 54px),
            100% 54px,
            calc(100% - 6px) 54px,
            calc(100% - 6px) 48px,
            calc(100% - 6px) 36px,
            calc(100% - 12px) 36px,
            calc(100% - 12px) 30px,
            calc(100% - 18px) 30px,
            calc(100% - 18px) 24px,
            calc(100% - 24px) 18px,
            calc(100% - 30px) 18px,
            calc(100% - 30px) 12px,
            calc(100% - 36px) 12px,
            calc(100% - 36px) 6px,
            calc(100% - 48px) 6px,
            calc(100% - 54px) 6px,
            calc(100% - 54px) 0px,
            54px 0px,
            54px 6px,
            48px 6px,
            36px 6px,
            36px 12px,
            30px 12px,
            30px 18px,
            24px 18px,
            18px 24px,
            18px 30px,
            12px 30px,
            12px 36px,
            6px 36px,
            6px 48px,
            6px 54px,
            0px 54px);

}

.emoticon {
    margin: 12px 0 0 0;
    text-align: center;
}

@media screen and (min-width: 1080px) {
    .root {
        flex-direction: row;
        gap: 48px;
    }

    .img {
        width: 200px;
        height: 200px;
        clip-path: polygon(0px calc(100% - 66px),
                6px calc(100% - 66px),
                6px calc(100% - 54px),
                12px calc(100% - 54px),
                12px calc(100% - 48px),
                12px calc(100% - 42px),
                18px calc(100% - 42px),
                18px calc(100% - 36px),
                24px calc(100% - 36px),
                24px calc(100% - 30px),
                30px calc(100% - 24px),
                36px calc(100% - 24px),
                36px calc(100% - 18px),
                42px calc(100% - 18px),
                42px calc(100% - 12px),
                48px calc(100% - 12px),
                54px calc(100% - 12px),
                54px calc(100% - 6px),
                66px calc(100% - 6px),
                66px 100%,
                calc(100% - 66px) 100%,
                calc(100% - 66px) calc(100% - 6px),
                calc(100% - 54px) calc(100% - 6px),
                calc(100% - 54px) calc(100% - 12px),
                calc(100% - 48px) calc(100% - 12px),
                calc(100% - 42px) calc(100% - 12px),
                calc(100% - 42px) calc(100% - 18px),
                calc(100% - 36px) calc(100% - 18px),
                calc(100% - 36px) calc(100% - 24px),
                calc(100% - 30px) calc(100% - 24px),
                calc(100% - 24px) calc(100% - 30px),
                calc(100% - 24px) calc(100% - 36px),
                calc(100% - 18px) calc(100% - 36px),
                calc(100% - 18px) calc(100% - 42px),
                calc(100% - 12px) calc(100% - 42px),
                calc(100% - 12px) calc(100% - 48px),
                calc(100% - 12px) calc(100% - 54px),
                calc(100% - 6px) calc(100% - 54px),
                calc(100% - 6px) calc(100% - 66px),
                100% calc(100% - 66px),
                100% 66px,
                calc(100% - 6px) 66px,
                calc(100% - 6px) 54px,
                calc(100% - 12px) 54px,
                calc(100% - 12px) 48px,
                calc(100% - 12px) 42px,
                calc(100% - 18px) 42px,
                calc(100% - 18px) 36px,
                calc(100% - 24px) 36px,
                calc(100% - 24px) 30px,
                calc(100% - 30px) 24px,
                calc(100% - 36px) 24px,
                calc(100% - 36px) 18px,
                calc(100% - 42px) 18px,
                calc(100% - 42px) 12px,
                calc(100% - 48px) 12px,
                calc(100% - 54px) 12px,
                calc(100% - 54px) 6px,
                calc(100% - 66px) 6px,
                calc(100% - 66px) 0px,
                66px 0px,
                66px 6px,
                54px 6px,
                54px 12px,
                48px 12px,
                42px 12px,
                42px 18px,
                36px 18px,
                36px 24px,
                30px 24px,
                24px 30px,
                24px 36px,
                18px 36px,
                18px 42px,
                12px 42px,
                12px 48px,
                12px 54px,
                6px 54px,
                6px 66px,
                0px 66px);
    }

    .content {
        margin: auto 0;
    }

}