.wrapper,
.wrapperInFocus {
  border: 3px lightgray outset;
  background-color: white;
  position: relative;
  z-index: 1;
  /* top: 50%;
    left: 50%; */
}

.wrapperInFocus {
  z-index: 2;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2px 0 2px 2px;
  background: linear-gradient(to right, lavender, purple);
}

.left {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
}

.title {
  margin-left: 3px;
}

.navWrapper {
  width: 17px;
  height: 16px;
  background-color: lightgray;
  border-style: outset;
  margin-right: 2px;
  position: relative;
  cursor: pointer;
}

.minimize {
  position: absolute;
  top: -1px;
  padding-left: 3px;
}

.maximize {
  position: absolute;
  top: 2.5px;
  margin-left: 3px;
  border: 1px solid black;
  height: 8px;
  width: 8px;
  border-top-width: 2px;
}

.close {
  position: absolute;
  top: -4px;
  padding-left: 3.5px;
  font-size: 18px;
}
